<ng-container *ngIf="categories && categories.length > 1; then muchBlock; else oneBlock;">
</ng-container>

<ng-template #muchBlock>
    <div *ngFor="let category of categories; index as i" class="item-group-category">
        <div [@openCloseGroup]="category.selected ? 'open' : 'closed'" class="card-category-title category-group-title-background-{{i%8}}" >
            <div class="wrap-tag" [ngStyle]="{'height.px': ( ( deviceHeight - (47.5 * 2) ) /categories.length )}" (click)="showContent(i)">
                <img class="thumb-category" src="assets/img/thumbs/img-my-course.png"/>
                <div class="title-category">
                    <h6 text-uppercase >{{ category.name }}</h6>    
                </div>
                <ion-icon [ngClass]="category.iconClassString ? category.iconClassString : classString.forward"></ion-icon>
            </div>
            <div [@openCloseCourse]="category.selected ? 'open' : 'closed'" id="wrap-course">
                <div *ngFor="let course of category.courses" class="list-course" >
                    <core-courses-course-progress [course]="course" class="core-courseoverview"></core-courses-course-progress>
                </div>  
            </div>
        </div>
    </div>
</ng-template>
<ng-template #oneBlock>
    <div *ngFor="let category of categories; index as i" class="item-group-category">
        <div style="display: table;" class="card-category-title category-group-title-background-{{i%8}}" >
            <div class="wrap-tag" [ngStyle]="{'height.px': 81}" (click)="showContent(i)">
                <img class="thumb-category" src="assets/img/thumbs/img-my-course.png"/>
                <div class="title-category">
                    <h6 text-uppercase >{{ category.name }}</h6>    
                </div>
                <ion-icon class="ion ion-ios-arrow-down"></ion-icon>
            </div>
            <div style="display: block;" id="wrap-course">
                <div *ngFor="let course of category.courses" class="list-course" >
                    <core-courses-course-progress [course]="course" class="core-courseoverview"></core-courses-course-progress>
                </div>  
            </div>
        </div>
    </div>
</ng-template>